body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background: #f0f4ff;
}

h1{
    text-align: center;
    color: #1a3d7c;
}

h2 {
    text-align: center;
    color: #345ba5;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 2px solid #345ba5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #1a3d7c;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #345ba5;
    border-radius: 5px;
    margin-top: 5px;
}

.accesorios label {
    display: block;
    font-weight: normal;
    margin-left: 15px;
    margin-bottom: 5px;
    color: #333
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background: #1a3d7c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #274f99;
}

#resultado {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #1a3d7c;
}

footer {
    text-align: center;
    margin-top: 25px;
    color: #333;
}