body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #d0e7ff;
    background: #0b1b33
}

h1{
    color: #4fc3f7;
    margin-top: 20px;
}

h2 {
   color: #81d4fa;
   font-size: 18px;
}

form {
   width: 90%;
   max-width: 600px;
   margin: 20px auto;
   background: #07111f;
   padding: 20px;
   border: 2px solid #4fc3f7;
   border-radius: 10px;
}

.seccion {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border: 2px solid #4fc3f7;
    background: #0b1b33;
    color: #d0e7ff;
}

.accesorios label {
    display: block;
    margin: 3px 0;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4fc3f7;
    color: #07111f;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #81d4fa;
}

#resultado {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #4fc3f7;
}

footer {
    margin-top: 30px;
    padding: 10px;
    color: #81d4fa;
}